//process{
    // All of these failed. Not possible to force profile-based values into the process block?
    // container = ${params.container}
    // container = "${params.container}"
    // container = "$params.container"
//}

profiles {

    quay {
        params {
            container = "quay.io/nextflow/bash:latest"
        }
    }

    dockerhub {
        params {
            container = "gwright99/private_nextflow_bash:latest"
        }
    }
}