process{
    // Neither of these worked
    // container = ${params.container}
    // container = "${params.container}"
    container = "$params.container"
}

profiles {

    quay {
        params {
            container = "quay.io/nextflow/bash:latest"
        }
    }

    dockerhub {
        params {
            container = "dockerhub.io/gwright99/private_nextflow_bash:latest"
        }
    }
}