params {
  small = "A"
  small-demand = "A1"
  medium = "B"
  medium-demand = "B2"
  large = "C"
  large-demand = "C1"
}

process {
  container = 'quay.io/nextflow/bash'

  withName: '.*' {
      queue = { determine_queue( task.cpus, task.memory.toGiga(), task.attempt ) }
  }
}

def determine_queue(cpus, memory, attempt) {
  if ( cpus <= 4 && memory <= 30 ) {
    return attempt == 1 ? "${params.small}" : "${params.small-demand}"
  } else if ( cpus <= 16 && memory <= 125 ) {
    return attempt == 1 ? "${params.medium}" : "${params.medium-demand}"
  } else if ( cpus <= 64 && memory <= 510 ) {
    return attempt == 1 ? "${params.large}" : "${params.large-demand}"
  } else {
    error "No appropriate queue found!"
  }
}